root = True

[*]
end_of_line = lf
insert_final_newline = true

[*.{pl,pm,t}]
indent_style = space
indent_size = 2

[*.sql]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
